

.Sign-In{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 200px;
    height: 295px;
    margin: auto;
    border-spacing: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    



}